.p-homeabout {
    text-align: center;
    background-image: url(../../public/images/aboutus-bg.png);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    color: #FFF;
    @include mq('tablet-wide') {
        padding: 40px 0;
    }
    p {
        line-height: 24px;
    }
    h2 {
        color: #FFF;
        margin-bottom: 30px;
    }
}