$blueclr: #4a407c; //494983
$black: #000;
$secodaryblue: #32cccc;
$question-bg:#f7fefc;
$form-blue:#385b9c;
$bodyFont: 'Roboto',
sans-serif;
$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$blackbold: 900;